/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.Mobile_Menu{display: block !important;}
/* Mobile Menu End___________ */

}

 
/* small mobile :320px. */
@media (max-width: 767px) {

    .Mobile_Menu{display: block !important;}
    #my-navigation{width: 100%;}
/* Mobile Menu End___________ */
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

#my-navigation{width: 450px;}
/* Mobile Menu End___________ */
.container {width:450px}
}
